
.h1_headding{
    font-size: 50px;
    font-weight: bold;
     text-align: center;
}
.searchbar{
    background-color:rgb(233, 233, 227);
    border:5px;
    border-radius:30px;
    padding:15px;
    font-size:20px    
}
.nav{
    display:flex;
    align-items:center;
    justify-content: space-evenly

}
.table_nav{
    display:flex;
    margin:20px;
    align-items:center;
    justify-content: space-evenly;
}
.Prev{
    background-color:rgb(233, 233, 227);
    border:5px;
    border-radius:30px;
    padding:15px;
    font-size:20px ;
    width: 150px; 
}
.next{
    background-color:rgb(233, 233, 227);
    border:5px;
    border-radius:30px;
    padding:15px;
    font-size:20px;
    width: 150px;
}
